<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon name="close" slot="start"></ion-icon>
        Fechar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/tempestade.png" />
      </ion-col>
      <ion-col class="ion-text-center">
        <p><strong>05/03</strong><br /><small>Tempestade</small></p>
      </ion-col>
      <ion-col class="ion-text-center">
        <p>
          ↓ 18<sup><small>ºC</small></sup
          ><br />↑ 25<sup><small>ºC</small></sup>
        </p>
      </ion-col>
      <ion-col class="ion-text-center">
        <p>☂ 50%<br />♨ 30%</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/poucas-nuvens.png" />
      </ion-col>
      <ion-col class="ion-text-center">
        <p><strong>06/03</strong><br /><small>Poucas nuvens</small></p>
      </ion-col>
      <ion-col class="ion-text-center">
        <p>
          ↓ 22<sup><small>ºC</small></sup
          ><br />↑ 30<sup><small>ºC</small></sup>
        </p>
      </ion-col>
      <ion-col class="ion-text-center">
        <p>☂ 10%<br />♨ 45%</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/limpo.png" />
      </ion-col>
      <ion-col class="ion-text-center">
        <p><strong>07/03</strong><br /><small>Céu limpo</small></p>
      </ion-col>
      <ion-col class="ion-text-center">
        <p>
          ↓ 16<sup><small>ºC</small></sup
          ><br />↑ 22<sup><small>ºC</small></sup>
        </p>
      </ion-col>
      <ion-col class="ion-text-center">
        <p>☂ 87%<br />♨ 90%</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
