<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title> Climabr </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1" size-md="8" offset-md="2">
        <ion-searchbar placeholder="Buscar cidade..."></ion-searchbar>
        <ion-list lines="none">
          <app-city-details name="Lavras" state="MG"></app-city-details>
          <app-city-details name="São Carlos" state="SP"></app-city-details>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
